<section class="container-fluid pt-5 pb-5">
	  <div class="row pt-5 pb-5">
	      <div class="col-12">

				<h2 class="pt-5">Nowy wpis</h2>

		   </div>
	   </div>

	   <div class="pb-5">
		 <%= render 'form', article: @article %>
	   </div>

</section>
