<footer class="footer">
	<div class="container">
		<div class="row">

		      <div class="col-md-4">

			    <h5><%= link_to 'Facebook', 'https://pl-pl.facebook.com', :target => "_blank" %></h5>	
		      </div>

			  <div class="col-md-4">
				
				<h5><%= link_to 'Twitter', 'https://twitter.com/?lang=pl', :target => "_blank"  %></h5>	
				
			  </div>
				
			  <div class="col-md-4">
					
				<h5><%= link_to 'Youtube', 'https://www.youtube.com/?gl=PL&hl=pl', :target => "_blank"  %></h5>	
			  </div>

	            <p class="small-font dark">©2019. Wszelkie prawa zastrzeżone</p>

		</div>	
	</div>
</footer>