    <section id="testimonials" class="p-5 bg-dark">
      <div class="container">
<!-- title -->
        <div class="row">
          <div class="col-12 text-center mb-3">
            <h1 class="text-info">Podróże tu i tam</h1>
            <div class="text-underline my-2"></div>
              <h5 class="text-white">Zobaczyć co się da.</h5>
            </div>
          </div>
        </div>
<!-- end of title -->
              <div class="row">
                <div class="col-12 col-md-6 mx-auto">
                  <div id="demo" class="carousel slide" data-ride="carousel" data-interval="3000">

                    <div class="carousel-inner">
                      <div class="carousel-item active text-center">
                        <%=link_to (image_tag 'masada.jpg', class:"img-fluid rounded-circle m-3", style:"width:60%;")%>
                        <h3 class="text-danger">Masada</h3>
                        <blockquote class="blockquote text-white">
                          <h5><i class="fa fa-quote-left fa-2x" aria-hidden="true"></i>W mieszkaniu Herodota Wielkiego.</h5>
                        </blockquote>  
                      </div>

                      <div class="carousel-item text-center">
                        <%=link_to (image_tag 'ateny.jpg', class:"img-fluid rounded-circle m-3", style:"width:60%;")%>
                        <h3 class="text-danger">Ateny</h3>
                        <blockquote class="blockquote text-white">
                          <h5><i class="fa fa-quote-left fa-2x" aria-hidden="true"></i>W świecie starożytnych Greków.</h5>
                        </blockquote>  
                      </div>

                      <div class="carousel-item text-center">
                        <%=link_to (image_tag 'porto.jpg', class:"img-fluid rounded-circle m-3", style:"width:60%;")%>
                        <h3 class="text-danger">Porto</h3>
                        <blockquote class="blockquote text-white">
                          <h5><i class="fa fa-quote-left fa-2x" aria-hidden="true"></i>Odkryj smak i zapach Portugalii.</h5>
                        </blockquote>  
                      </div>
                    </div>
                    
                  </div>
                </div>
              </div>
      </div>
    </section>