<section class="container flex-column d-flex justify-content-center pt-5 pb-5">

		<div class="col-12 text-center">
		  
		  <%= image_tag '04.jpg', class: "image_welcome"%>

		</div>

</section>

<%= render 'shared/opinion' %>

<%= render 'shared/section_icons' %>

