<section class="container flex-column d-flex justify-content-center pt-5 pb-5">

		<div class="col-12 text-center">
		  
		  <%= image_tag '01.jpg', class: "image_welcome"%>

		    <p class="p-2">    
		      <%= link_to 'Witaj na mojej stronie', articles_path, class: 'btn btn-info' %>
	        </p>
		</div>

</section>



