<div class="row" style="padding-top: 10%;">
  <div class="col"></div>
	<div class="col-md-8 text-center">
	  
	  <%= image_tag '01.jpg', style: "width:75%" %>
		<h1>Podróże tu i tam!</h1>

        <%= link_to 'Witaj na mojej stronie', articles_path, class: 'btn btn-info' %>

	</div>
  <div class="col"></div>
</div>



