<!DOCTYPE html>
  <html>
    <head>
      <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    
    <body>

      <p>Otrzymałeś wiadomośc od: <%= @message.name %></p>
      <p>Email nadawcy: <%= @message.email %></p>
      <p>Treść wiadomości: <%= @message.body%></p>
      
    </body>
  </html>