   <section id="about" class="bg-info pt-5">
      <div class="container-fluid">
        <div class="row align-itmes-center">
          <div class="col-sm-6 max-viewport">
          </div>
          <div class="col-sm-6">   
          </div>  
        </div>
        <div class="row">
          <div class="col-12 text-center mb-3">
            <h1 class="text-danger mt-3">O mnie</h1>
          </div class="mt-5">
            <div class="d-flex mb-2">
              <i id="icon_two" class="material-icons text-danger" aria-hidden="true">android</i>   
              <h5 class="mb-2 p-2 text-white">Mieszkam w Rybniku. Ukończyłem studia na Uniwersytecie Opolskim na kierunku "Ekonomia" oraz w Państwowej Wyższej Szkole Zawodowej w Raciborzu na kierunku "Historia". W karierze zawodowej pracowałem m. in. jako kadrowiec, specjalista ds. zamówień publicznych, urzędnik oraz w zakresie projektów unijnych. Z drugiej strony zajmowałem się przez długie lata statystykom siatkarską w wielu polskich klubach. Hobbistycznie trenowałem rownież dzieciaki w szkole podstawowej.</h5>
            </div>
            <div class="d-flex mb-2">
              <i id="icon_two" class="material-icons text-danger" aria-hidden="true">android</i>   
              <h5 class="mb-2 p-2 text-white">Początki z IT związane są z administracją stron www. oraz fanpagów różnych klubów siatkarkich oraz projektów unijnych w ktorych byłem zatrudniony. Z drugiej strony poznałem duże mozliwości IT podczas pracy jako statystyk - budowanie i utrzymywanie sieci LAN, obróbka graficzna, obsługaprogramów statystycznych itd.</h5>
            </div>
            <div class="d-flex mb-2">
              <i id="icon_two" class="material-icons text-danger" aria-hidden="true">android</i>   
              <h5 class="mb-2 p-2 text-white">Od ponad roku zainteresowałem sie programowaniem. Początkowo pewnie jak większość HTML, CSS. Na chwilę obecną intensywnie studiuję framework Ruby on Rails oparty na języku Rubyoraz w wolnych chwilach Javascript, trochę jQuery oraz obowiązkowo technologie: Git, Github, system Linux. Ponadto ukończyłem szkołe programowania CodeSensei w Krakowie - RoR, Ruby oraz we własnym zakresie rozwijał różne projekty (github/Jarek1983).</h5>
            </div>
      </div>
      
    </section>

   <section id="qualites" class="py-5 bg-secondary">
        <div class="container">
            <div class="row align-items-center text-center">
                <div class="col-sm-6 col-lg-6 text-white my-3 d-flex">
                    <i class="fa fa-wrench fa-5x mr-3 align-self-center"></i>
                    <div>
                        <h2 class="my-3">Wykształcenie</h1>
            							<p>Ekonomia</p>
            							<p>Historia</p>
            							<p>Programowanie</p>
            							<p>Instruktor siatkówki</p>
            							<p>Data Volley</p>
                    </div>  
                </div>
                 <div class="col-sm-6 col-lg-6 text-white my-3 d-flex">
                    <i class="fa fa-refresh fa-5x mr-3 align-self-center"></i>
                    <div>
                        <h2 class="my-3">Doświadczenie</h1>
            							<p>Programowanie</p>
            							<p>Siatkówka</p>
            							<p>Administracja IT</p>
            							<p>Edukacja</p>
            							<p>Kadry</p>
                    </div>  
                </div>               
            </div>
        </div>     
    </section>

<%= render 'shared/opinion' %>

<%= render 'shared/section_icons' %>