<section class="container-fluid pt-5 pb-5 size_about">
  <div class="row pt-5">
    <div class="col-12 pt-5">
      <h4 class="font-italic pt-5">O mnie: </h4>
        <div class="text-grey text-justify font-weight-normal pb-5">
			<p>Mieszkam w Rybniku. Ukończyłem studia na Uniwersytecie Opolskim na kierunku "Ekonomia" oraz w Państwowej Wyższej Szkole Zawodowej w Raciborzu na kierunku "Historia". W karierze zawodowej pracowałem m. in. jako kadrowiec, specjalista ds. zamówień publicznych, urzędnik oraz w zakresie projektów unijnych. Z drugiej strony zajmowałem się przez długie lata statystykom siatkarską w wielu polskich klubach.
			Hobbistycznie trenowałem rownież dzieciaki w szkole podstawowej. Napisałem roboczo dwie książki. Początki z <strong class="text-secondary font-italic">IT</strong> związane są z <strong class="text-secondary font-italic">administracją stron www.</strong> oraz fanpagów różnych klubów siatkarkich oraz projektów unijnych w ktorych byłem zatrudniony. Z drugiej strony poznałem duże mozliwości IT podczas pracy jako statystyk - budowanie i utrzymywanie <strong class="text-secondary font-italic">sieci LAN</strong>, obróbka graficzna, obsługa <strong class="text-secondary font-italic">programów</strong> statystycznych itd.</p>
			<p>Od ponad roku zainteresowałem sie programowaniem. Początkowo pewnie jak większość <strong class="text-secondary font-italic">HTML</strong>, <strong class="text-secondary font-italic">CSS</strong>. Na chwilę obecną intensywnie studiuję framework <strong class="text-secondary font-italic">Ruby on Rails</strong> oparty na języku <strong class="text-secondary font-italic">Ruby</strong> oraz w wolnych chwilach <strong class="text-secondary font-italic">Javascript</strong>, trochę <strong class="text-secondary font-italic">jQuery</strong> oraz obowiązkowo technologie: <strong class="text-secondary font-italic">Git</strong>, <strong class="text-secondary font-italic">Github</strong>, system <strong class="text-secondary font-italic">Linux</strong>. Ponadto ukończyłem szkołe programowania CodeSensei w Krakowie - RoR, Ruby oraz we własnym zakresie rozwijał różne projekty (github/Jarek1983).</p>
		</div>

		<div class="row">
			<div class="col-4">
				<h3 class="text-center pb-3">Wykształcenie:</h3>
					<p class="text-center text-success">Ekonomia - wyższe</p>
					<p class="text-center text-info">Historia - wyższe</p>
					<p class="text-center text-danger">CodeSensei - programowanie</p>
					<p class="text-center text-warning">Instruktor siatkówki</p>
			</div>
			<div class="col-4">
				<h3 class="text-center pb-3">Gdzie pracowałem:</h3>
					<p class="text-left text-muted">GKS GieKSa Katowice S.A.</p>
					<p class="text-right text-dark">SK Górnik Radlin </p>
					<p class="text-left text-success">Reprezentacja Belgii</p>
					<p class="text-right text-primary">Gimnazjum</p>
					<p class="text-left text-warning">Poradnia Psychologiczno-Pedagogiczna</p>
					<p class="text-right text-info">Urząd Miasta Rybnika</p>
					<p class="text-left text-muted">BBTS Bielsko-Biała</p>
					<p class="text-right text-danger">TS Volley Rybnik</p>
			</div>
			<div class="col-4">
				<h3 class="text-center pb-3">Zainteresowania:</h3>
					<p class="text-center text-success">siatkówka</p>
					<p class="text-center text-secondary">crossfit</p>
					<p class="text-center text-danger">kolarstwo</p>
					<p class="text-center text-info">piłka nożna</p>
					<p class="text-center text-primary">muzyka</p>
					<p class="text-center text-muted">kinematografia</p>
			</div>
		</div>



    </div>
  </div>
</section>

