// Place all the styles related to the About controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#icon_two {
  font-size: 36px;
  padding-top: 20px; 
}

.logo {
  margin: 2rem;
  font-size: 2rem;
  font-style: italic;
}

#icons {
  background-color: burlywood;
  padding-top: 3rem;
  padding-bottom: 6rem;
}

.head {
  border-bottom: 0.2rem solid chocolate;
  border-top: 0.2rem solid chocolate;
  display: inline;
  font-size: 4rem;
  padding: 0 1rem;
}



