/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

 @import "bootstrap";
 @import "font-awesome";
 @import "navigation";
 @import "footer";
 @import "articles";

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.sponsored {
  background: #DDDDDD;
}

.unpublished {
  opacity: 0.5;
  background: #CCCCCC;
}



@media only screen and (max-width: 1199px),
(min-device-width: 992px) and (max-device-width: 1199px) {


}


@media only screen and (max-width: 991px),
(min-device-width: 768px) and (max-device-width: 991px) {


}

@media only screen and (max-width: 767px),
(min-device-width: 100px) and (max-device-width: 767px)  {

}

/*buttons */
    @media only screen and (min-width: 1200px) {
      
      .new_form {
        width: 75%;
        line-height: 200%;
      }
      .new_submit {
        font-size: 1rem;
        padding-top: 5%;
      }
    }


    @media only screen and (max-width: 1199px),
    (min-device-width: 992px) and (max-device-width: 1199px) {

      .new_form {
        width: 50%;
        line-height: 300%;
      }
      .form2 {
        height: 50px;
      }
      .new_submit {
        font-size: 1.5rem;
        padding-top: 5%;
      }
    }

    @media only screen and (max-width: 991px),
    (min-device-width: 768px) and (max-device-width: 991px) {

      .new_article {
        width: 25%;
      }
      .new_form {
        width: 100%;
        line-height: 100%;
      }
      .form2 {
        height: 60px;
      }
      .new_submit {
        font-size: 2.0rem;
        line-height: 100%;
        padding-top: 8%;
      }
    }

    @media only screen and (max-width: 767px),
    (min-device-width: 100px) and (max-device-width: 767px) {

      .new_article {
        width: 40%;
      }
      .new_form {
        width: 90%;
      }
      .form2 {
        height: 70px;
      }
      .new_submit {
        font-size: 2.0rem;
        line-height: 100%;
        padding-top: 15%;
      }
    }


