/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require trix
 
 */

 @import "bootstrap";
 @import "font-awesome";
 @import "navigation";
 @import "footer";
 @import "articles";
 @import "login";
 @import "about";
 @import "messages";

html {height: 100%;}

body {
    width: 100%;
    min-height: 100%; 
    position: relative; 
    padding-bottom: [footer-height];
    background: linear-gradient(rgba(139,69,19,0.6),rgba(139,69,19,0.6));
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    touch-action: manipulation;
}

.form-control {
  border-radius: 12px;
}

.image_welcome {
    width: 75%;
}

.sponsored {
  background: #DDDDDD;
}

.unpublished {
  opacity: 0.5;
  background: #CCCCCC;
}

.notice, .alert {
  font-size :1.4rem;
  padding-top :7%;
  text-align: center;
  color: RGB(47, 79, 79);
}

.new_submit {
    width: 28vh;
}

/*button for messages/new */

.new_submit2 {
    width: 28vh !important;
}

@media only screen and (max-width: 1023px),
(min-device-width: 992px) and (max-device-width: 1023px) {

  .image_welcome {
    width: 80%;
  }
}

@media only screen and (max-width: 991px),
(min-device-width: 769px) and (max-device-width: 991px) {

  .image_welcome {
    width: 100%;
    }
}
      




