/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require trix
 
 */

 @import "bootstrap";
 @import "font-awesome";
 @import "navigation";
 @import "footer";
 @import "articles";
 @import "login";
 @import "about";
 @import "messages";

html {height: 100%;}

body {
    width: 100%;
    min-height: 100%; 
    position: relative; 
    padding-bottom: [footer-height];
    background: linear-gradient(rgba(139,69,19,0.6),rgba(139,69,19,0.6));
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.form-control {
    width: 100%;
    height: 50px;
    margin: auto;
    border-radius: 8px;
    background-color: #98DDDE;
    font-size: 1.2rem;
}

.form-control2 {
    width: 50vh;
    height: 8vh;
    margin: auto;
    border-radius: 14px;
    font-size: 3vh;
    text-align: center;
}

.form-control4 {
    width: 50vh;
    height: 10vh;
    margin: auto;
    border-radius: 14px;
    font-size: 3vh;
}

.form-control3 {
    width: 100%;
    height: 50px;
    margin: auto;
    border-radius: 10px;
    background-color: #98DDDE;
    font-size: 1.2rem;
    text-align: center;
}

.image_welcome {
    width: 75%;
}

.sponsored {
  background: #DDDDDD;
}

.unpublished {
  opacity: 0.5;
  background: #CCCCCC;
}

.notice, .alert {
  font-size :1.4rem;
  padding-top :7%;
  text-align: center;
  color: RGB(47, 79, 79);
}

@media only screen and (max-width: 1024px),
(min-device-width: 1024px) and (max-device-width: 1024px) {

  .form-control2 {
      width: 64vh;
      height: 8vh !important;
      margin: auto;
      border-radius: 14px;
      font-size: 3vh;
  }

}

@media only screen and (max-width: 1023px),
(min-device-width: 992px) and (max-device-width: 1023px) {

  .form-control2 {
      width: 66vh;
      height: 12vh !important;
      margin: auto;
      border-radius: 14px;
      font-size: 3vh;
  }

  .form-control3 {
      width: 100%;
      height: 60px !important;
      margin: auto;
      border-radius: 10px;
      font-size: 1.4rem;
      text-align: center;
  }

  .image_welcome {
    width: 80%;
  }
}


@media only screen and (max-width: 991px),
(min-device-width: 769px) and (max-device-width: 991px) {

  .form-control2 {
      width: 56vh;
      height: 10vh !important;
      margin-left: -200px;
      margin-right: -200px;
      margin-top: auto;
      margin-bottom: auto;
      border-radius: 14px;
      font-size: 4vh;
    }

  .form-control3 {
      width: 400%;
      height: 60px !important;
      margin: auto;
      border-radius: 10px;
      font-size: 1.4rem;
      text-align: center;
  }

  .image_welcome {
    width: 100%;
    }
}

@media only screen and (device-width: 768px) {
  /* For general iPad layouts */

  .form-control2 {
      width: 62vh;
      height: 10vh !important;
      margin-left: -200px;
      margin-right: -200px;
      margin-top: auto;
      margin-bottom: auto;
      border-radius: 14px;
      font-size: 4vh;
    }
}

@media only screen and (max-width: 767px),
(min-device-width: 641px) and (max-device-width: 767px)  {

  .form-control2 {
    width: 100vh;
    height: 10vh !important;
    border-radius: 14px;   
    margin-left: -200px;
    margin-right: -200px;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 4vh;
    }

    .form-control3 {
      width: 250%;
      height: 60px !important;
      margin: auto;
      border-radius: 10px;
      font-size: 1.4rem;
      text-align: center;
  }
}

@media only screen and (max-width: 640px),
(min-device-width: 601px) and (max-device-width: 640px)  {

  .form-control2 {
    width: 100vh;
    height: 10vh !important;
    border-radius: 14px;   
    margin-left: -200px;
    margin-right: -200px;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 4vh;
    }

    .form-control3 {
      width: 250%;
      height: 60px !important;
      margin: auto;
      border-radius: 10px;
      font-size: 1.4rem;
      text-align: center;
  }
}

@media only screen and (max-width: 600px),
(min-device-width: 500px) and (max-device-width: 600px)  {

  .form-control2 {
    width: 56vh;
    height: 10vh !important;
    border-radius: 14px;   
    margin-left: -200px;
    margin-right: -200px;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 4vh;
    }

    .form-control3 {
      width: 250%;
      height: 60px !important;
      margin: auto;
      border-radius: 10px;
      font-size: 1.4rem;
      text-align: center;
  }
}

@media only screen and (max-width: 501px),
(min-device-width: 385px) and (max-device-width: 501px)  {

  .form-control2 {
    width: 40vh;
    height: 10vh !important;
    border-radius: 14px;   
    margin-left: -200px;
    margin-right: -200px;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 4vh;
    }

    .form-control3 {
      width: 250%;
      height: 60px !important;
      margin: auto;
      border-radius: 10px;
      font-size: 1.4rem;
      text-align: center;
  }
}

@media only screen and (max-width: 384px),
(min-device-width: 100px) and (max-device-width: 384px)  {

  .form-control2 {
    width: 42vh;
    height: 8vh !important;
    border-radius: 14px;   
    margin-left: -200px;
    margin-right: -200px;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 4vh;
    }

    .form-control3 {
      width: 250%;
      height: 60px !important;
      margin: auto;
      border-radius: 10px;
      font-size: 1.4rem;
      text-align: center;
  }
}






/*buttons */
    @media only screen and (min-width: 1200px) {
      
      .new_form {
        width: 75%;
        line-height: 200%;
      }
      .new_submit {
        font-size: 1rem;
        padding-top: 5%;
      }
    }


    @media only screen and (max-width: 1199px),
    (min-device-width: 992px) and (max-device-width: 1199px) {

      .new_form {
        width: 50%;
        line-height: 300%;
      }
      .form2 {
        height: 50px;
      }
      .new_submit {
        font-size: 1.5rem;
        padding-top: 5%;
      }
    }

    @media only screen and (max-width: 991px),
    (min-device-width: 768px) and (max-device-width: 991px) {

      .new_article {
        width: 25%;
      }
      .new_form {
        width: 100%;
        line-height: 100%;
      }
      .form2 {
        height: 60px;
      }
      .new_submit {
        font-size: 2.0rem;
        line-height: 100%;
        padding-top: 8%;
      }
    }

    @media only screen and (max-width: 767px),
    (min-device-width: 100px) and (max-device-width: 767px) {

      .new_article {
        width: 40%;
      }
      .new_form {
        width: 90%;
      }
      .form2 {
        height: 70px;
      }
      .new_submit {
        font-size: 2.0rem;
        line-height: 100%;
        padding-top: 15%;
      }
    }


