label {
    font-size: 3vh;
  }

.login {
	padding-top: 5%;
	padding-bottom: 5%;
	}

.btn_login {
	width: 30vh;
	height: 8vh;
	background-color: #00FFFF;
	border-radius: 14px;
	font-size: 3vh;
}

.fields {
    font-size: 3vh;
}

@media only screen and (max-width: 1199px),
(min-device-width: 1025px) and (max-device-width: 1199px) {
	label {
	   font-size: 3vh;
	}
	.btn_login {
		width: 50vh;
		height: 8vh;
		font-size: 4vh;
	}
	.fields {
	    font-size: 4vh;
	}
}

@media only screen and (max-width: 1024px),
(min-device-width: 1024px) and (max-device-width: 1024px) {

	label {
	   font-size: 3vh;
	}
	.btn_login {
		width: 64vh;
		height: 7vh;
		font-size: 4vh;
	}
	.fields {
	    font-size: 4vh;
	}
}

@media only screen and (max-width: 1023px),
(min-device-width: 992px) and (max-device-width: 1023px) {
	label {
	   font-size: 3vh;
	}
	.btn_login {
		width: 66vh;
		height: 12vh;
		font-size: 4vh;
	}
	.fields {
        font-size: 4vh;
	}
}

@media only screen and (max-width: 991px),
(min-device-width: 800px) and (max-device-width: 991px) {
	label {
	   font-size: 3vh;
	}
	.btn_login {
	    width: 56vh;
		height: 10vh;
		font-size: 4vh;
		margin-left: -200px;
		margin-right: -200px;
		}
	.fields {
        font-size: 4vh;
	}
}

@media only screen and (max-width: 799px),
(min-device-width: 769px) and (max-device-width: 799px) {
	label {
	   font-size: 3vh;
	}
	.btn_login {
	    width: 56vh;
		height: 10vh;
		font-size: 4vh;
		margin-left: -200px;
		margin-right: -200px;
		}
	.fields {
        font-size: 4vh;
	}
}

@media only screen and (max-width: 768px),
(min-device-width: 768px) and (max-device-width: 768px) {
	label {
	   font-size: 3vh;
	}
	.btn_login {
	    width: 62vh;
		height: 10vh;
		font-size: 4vh;
		margin-left: -200px;
		margin-right: -200px;
		}
	.fields {
		font-size: 4vh;
	}
}

@media only screen and (max-width: 767px),
(min-device-width: 641px) and (max-device-width: 767px) {
	label {
	   font-size: 3vh;
	}
	.btn_login {
	    width: 100vh;
		height: 10vh;
		font-size: 4vh;
		margin-left: -200px;
		margin-right: -200px;
		}
	.fields {
		font-size: 4vh;
	}
}

@media only screen and (max-width: 640px),
(min-device-width: 601px) and (max-device-width: 640px) {
	label {
	   font-size: 3vh;
	}
	.btn_login {
	    width: 100vh;
		height: 10vh;
		font-size: 4vh;
		}
	.fields {
		font-size: 4vh;
	}
}

@media only screen and (max-width: 600px),
(min-device-width: 501px) and (max-device-width: 600px) {
	label {
	   font-size: 3vh;
	}
	.btn_login {
	    width: 56vh;
		height: 10vh;
		font-size: 4vh;
		}
	.fields {
		font-size: 4vh;
	}
}

@media only screen and (max-width: 500px),
(min-device-width: 385px) and (max-device-width: 500px) {
	label {
	   font-size: 3vh;
	}
	.btn_login {
	    width: 40vh;
		height: 10vh;
		font-size: 4vh;
		}
	.fields {
		font-size: 4vh;
	}
}

@media only screen and (max-width: 384px),
(min-device-width: 100px) and (max-device-width: 384px) {
	label {
	   font-size: 2vh;
	}
	.btn_login {
	    width: 42vh;
		height: 8vh;
		font-size: 4vh;
		}
	.fields {
		font-size: 4vh;
	}
}

