.login {
	font-size: 1.2rem;
	padding-top: 10%;
	}

.btn_login {
	width: 200px;
	height: 50px;
	background-color: #00FFFF;
	border-radius: 10px;
	font-size: 18px;
}

.field {
	font-size: 1.6rem;
}

@media only screen and (max-width: 1199px),
(min-device-width: 992px) and (max-device-width: 1199px) {
	.login {
		font-size: 1.4rem;
		padding-top: 25%;
	}
	.btn_login {
		width: 200px;
		height: 60px;
		font-size: 20px;
	}
	.field {
	    font-size: 1.4rem;
	}
}

@media only screen and (max-width: 991px),
(min-device-width: 768px) and (max-device-width: 991px) {
	.login {
		font-size: 1.4rem;
		padding-top: 30%;
	}
	.btn_login {
		height: 70px;
		font-size: 22px;
		}
	.field {
		font-size: 1.2rem;
	}
}

@media only screen and (max-width: 767px),
(min-device-width: 600px) and (max-device-width: 767px) {
	.login {
		font-size: 1.8rem;
		padding-top: 35%;
	}
	.btn_login {
		height: 80px;
		font-size: 26px;
		}
	.field {
		font-size: 1rem;
	}
}

@media only screen and (max-width: 599px),
(min-device-width: 100px) and (max-device-width: 599px) {
	.login {
		font-size: 2rem;
		padding-top: 40%;
	}
	.btn_login {
		height: 90px;
		font-size: 30px;
		}
	.field {
		font-size: 1rem;
	}
}
